# Server
SERVER_HOSTNAME="localhost" # https://example.com for production
SERVER_PORT="3003"

# Telegram
BOT_TOKEN=""
BOT_OWNER_ID=""
CHAT_ID=""

# Twitch
CLIENT_ID=""
CLIENT_SECRET=""
ACCESS_TOKEN=""
REFRESH_TOKEN=""
